.fab {
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.fab button {
  background: #4a5568;
  color: white;
  border-width: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
}

.fab button:hover {
  background: #2d3748;
  transition-property: background;
  transition-duration: 200ms;
}
